## Değişken Dönüşümleri

In [16]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 0-1 Dönüşümü

In [17]:
from sklearn.preprocessing import LabelEncoder

lbe = LabelEncoder()

In [20]:
lbe.fit_transform(df["sex"])

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0])

In [22]:
df["yeni_sex"] = lbe.fit_transform(df["sex"])

In [23]:
df

     total_bill   tip     sex smoker   day    time  size  yeni_sex
0         16.99  1.01  Female     No   Sun  Dinner     2         0
1         10.34  1.66    Male     No   Sun  Dinner     3         1
2         21.01  3.50    Male     No   Sun  Dinner     3         1
3         23.68  3.31    Male     No   Sun  Dinner     2         1
4         24.59  3.61  Female     No   Sun  Dinner     4         0
5         25.29  4.71    Male     No   Sun  Dinner     4         1
6          8.77  2.00    Male     No   Sun  Dinner     2         1
7         26.88  3.12    Male     No   Sun  Dinner     4         1
8         15.04  1.96    Male     No   Sun  Dinner     2         1
9         14.78  3.23    Male     No   Sun  Dinner     2         1
10        10.27  1.71    Male     No   Sun  Dinner     2         1
11        35.26  5.00  Female     No   Sun  Dinner     4         0
12        15.42  1.57    Male     No   Sun  Dinner     2         1
13        18.43  3.00    Male     No   Sun  Dinner     4         1
14        14.83  3.02  Female     No   Sun  Dinner     2         0
15        21.58  3.92    Male     No   Sun  Dinner     2         1
16        10.33  1.67  Female     No   Sun  Dinner     3         0
17        16.29  3.71    Male     No   Sun  Dinner     3         1
18        16.97  3.50  Female     No   Sun  Dinner     3         0
19        20.65  3.35    Male     No   Sat  Dinner     3         1
20        17.92  4.08    Male     No   Sat  Dinner     2         1
21        20.29  2.75  Female     No   Sat  Dinner     2         0
22        15.77  2.23  Female     No   Sat  Dinner     2         0
23        39.42  7.58    Male     No   Sat  Dinner     4         1
24        19.82  3.18    Male     No   Sat  Dinner     2         1
25        17.81  2.34    Male     No   Sat  Dinner     4         1
26        13.37  2.00    Male     No   Sat  Dinner     2         1
27        12.69  2.00    Male     No   Sat  Dinner     2         1
28        21.70  4.30    Male     No   Sat  Dinner     2         1
29        19.65  3.00  Female     No   Sat  Dinner     2         0
..          ...   ...     ...    ...   ...     ...   ...       ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3         0
215       12.90  1.10  Female    Yes   Sat  Dinner     2         0
216       28.15  3.00    Male    Yes   Sat  Dinner     5         1
217       11.59  1.50    Male    Yes   Sat  Dinner     2         1
218        7.74  1.44    Male    Yes   Sat  Dinner     2         1
219       30.14  3.09  Female    Yes   Sat  Dinner     4         0
220       12.16  2.20    Male    Yes   Fri   Lunch     2         1
221       13.42  3.48  Female    Yes   Fri   Lunch     2         0
222        8.58  1.92    Male    Yes   Fri   Lunch     1         1
223       15.98  3.00  Female     No   Fri   Lunch     3         0
224       13.42  1.58    Male    Yes   Fri   Lunch     2         1
225       16.27  2.50  Female    Yes   Fri   Lunch     2         0
226       10.09  2.00  Female    Yes   Fri   Lunch     2         0
227       20.45  3.00    Male     No   Sat  Dinner     4         1
228       13.28  2.72    Male     No   Sat  Dinner     2         1
229       22.12  2.88  Female    Yes   Sat  Dinner     2         0
230       24.01  2.00    Male    Yes   Sat  Dinner     4         1
231       15.69  3.00    Male    Yes   Sat  Dinner     3         1
232       11.61  3.39    Male     No   Sat  Dinner     2         1
233       10.77  1.47    Male     No   Sat  Dinner     2         1
234       15.53  3.00    Male    Yes   Sat  Dinner     2         1
235       10.07  1.25    Male     No   Sat  Dinner     2         1
236       12.60  1.00    Male    Yes   Sat  Dinner     2         1
237       32.83  1.17    Male    Yes   Sat  Dinner     2         1
238       35.83  4.67  Female     No   Sat  Dinner     3         0
239       29.03  5.92    Male     No   Sat  Dinner     3         1
240       27.18  2.00  Female    Yes   Sat  Dinner     2         0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         1
242       17.82  1.75    Male     No   Sat  Dinner     2         1
243       18.78  3.00  Female     No  Thur  Dinner     2         0

[244 rows x 8 columns]

### "1 ve Diğerleri (0) " Dönüşümü

In [24]:
df.head()

   total_bill   tip     sex smoker  day    time  size  yeni_sex
0       16.99  1.01  Female     No  Sun  Dinner     2         0
1       10.34  1.66    Male     No  Sun  Dinner     3         1
2       21.01  3.50    Male     No  Sun  Dinner     3         1
3       23.68  3.31    Male     No  Sun  Dinner     2         1
4       24.59  3.61  Female     No  Sun  Dinner     4         0

In [27]:
df["day"].str.contains("Sun")

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

In [25]:
import numpy as np 
df["yeni_day"] = np.where(df["day"].str.contains("Sun"), 1, 0)

In [26]:
df

     total_bill   tip     sex smoker   day    time  size  yeni_sex  yeni_day
0         16.99  1.01  Female     No   Sun  Dinner     2         0         1
1         10.34  1.66    Male     No   Sun  Dinner     3         1         1
2         21.01  3.50    Male     No   Sun  Dinner     3         1         1
3         23.68  3.31    Male     No   Sun  Dinner     2         1         1
4         24.59  3.61  Female     No   Sun  Dinner     4         0         1
5         25.29  4.71    Male     No   Sun  Dinner     4         1         1
6          8.77  2.00    Male     No   Sun  Dinner     2         1         1
7         26.88  3.12    Male     No   Sun  Dinner     4         1         1
8         15.04  1.96    Male     No   Sun  Dinner     2         1         1
9         14.78  3.23    Male     No   Sun  Dinner     2         1         1
10        10.27  1.71    Male     No   Sun  Dinner     2         1         1
11        35.26  5.00  Female     No   Sun  Dinner     4         0         1
12        15.42  1.57    Male     No   Sun  Dinner     2         1         1
13        18.43  3.00    Male     No   Sun  Dinner     4         1         1
14        14.83  3.02  Female     No   Sun  Dinner     2         0         1
15        21.58  3.92    Male     No   Sun  Dinner     2         1         1
16        10.33  1.67  Female     No   Sun  Dinner     3         0         1
17        16.29  3.71    Male     No   Sun  Dinner     3         1         1
18        16.97  3.50  Female     No   Sun  Dinner     3         0         1
19        20.65  3.35    Male     No   Sat  Dinner     3         1         0
20        17.92  4.08    Male     No   Sat  Dinner     2         1         0
21        20.29  2.75  Female     No   Sat  Dinner     2         0         0
22        15.77  2.23  Female     No   Sat  Dinner     2         0         0
23        39.42  7.58    Male     No   Sat  Dinner     4         1         0
24        19.82  3.18    Male     No   Sat  Dinner     2         1         0
25        17.81  2.34    Male     No   Sat  Dinner     4         1         0
26        13.37  2.00    Male     No   Sat  Dinner     2         1         0
27        12.69  2.00    Male     No   Sat  Dinner     2         1         0
28        21.70  4.30    Male     No   Sat  Dinner     2         1         0
29        19.65  3.00  Female     No   Sat  Dinner     2         0         0
..          ...   ...     ...    ...   ...     ...   ...       ...       ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3         0         0
215       12.90  1.10  Female    Yes   Sat  Dinner     2         0         0
216       28.15  3.00    Male    Yes   Sat  Dinner     5         1         0
217       11.59  1.50    Male    Yes   Sat  Dinner     2         1         0
218        7.74  1.44    Male    Yes   Sat  Dinner     2         1         0
219       30.14  3.09  Female    Yes   Sat  Dinner     4         0         0
220       12.16  2.20    Male    Yes   Fri   Lunch     2         1         0
221       13.42  3.48  Female    Yes   Fri   Lunch     2         0         0
222        8.58  1.92    Male    Yes   Fri   Lunch     1         1         0
223       15.98  3.00  Female     No   Fri   Lunch     3         0         0
224       13.42  1.58    Male    Yes   Fri   Lunch     2         1         0
225       16.27  2.50  Female    Yes   Fri   Lunch     2         0         0
226       10.09  2.00  Female    Yes   Fri   Lunch     2         0         0
227       20.45  3.00    Male     No   Sat  Dinner     4         1         0
228       13.28  2.72    Male     No   Sat  Dinner     2         1         0
229       22.12  2.88  Female    Yes   Sat  Dinner     2         0         0
230       24.01  2.00    Male    Yes   Sat  Dinner     4         1         0
231       15.69  3.00    Male    Yes   Sat  Dinner     3         1         0
232       11.61  3.39    Male     No   Sat  Dinner     2         1         0
233       10.77  1.47    Male     No   Sat  Dinner     2         1         0
234       15.53  3.00    Male    Yes   Sat  Dinner     2         1         0
235       10.07  1.25    Male     No   Sat  Dinner     2         1         0
236       12.60  1.00    Male    Yes   Sat  Dinner     2         1         0
237       32.83  1.17    Male    Yes   Sat  Dinner     2         1         0
238       35.83  4.67  Female     No   Sat  Dinner     3         0         0
239       29.03  5.92    Male     No   Sat  Dinner     3         1         0
240       27.18  2.00  Female    Yes   Sat  Dinner     2         0         0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         1         0
242       17.82  1.75    Male     No   Sat  Dinner     2         1         0
243       18.78  3.00  Female     No  Thur  Dinner     2         0         0

[244 rows x 9 columns]

### Çok Sınıflı Dönüşüm

In [28]:
from sklearn.preprocessing import LabelEncoder
lbe = LabelEncoder()

In [29]:
lbe.fit_transform(df["day"])

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3])

In [ ]:
#cok dikkat

### One-Hot Dönüşümü ve Dummy Değişken Tuzağı

In [30]:
df.head()

   total_bill   tip     sex smoker  day    time  size  yeni_sex  yeni_day
0       16.99  1.01  Female     No  Sun  Dinner     2         0         1
1       10.34  1.66    Male     No  Sun  Dinner     3         1         1
2       21.01  3.50    Male     No  Sun  Dinner     3         1         1
3       23.68  3.31    Male     No  Sun  Dinner     2         1         1
4       24.59  3.61  Female     No  Sun  Dinner     4         0         1

In [32]:
df_one_hot = pd.get_dummies(df, columns = ["sex"], prefix = ["sex"])

In [33]:
df_one_hot.head()

,total_bill,tip,smoker,day,time,size,yeni_sex,yeni_day,sex_Male,sex_Female
0,16.99,1.01,No,Sun,Dinner,2,0,1,0,1
1,10.34,1.66,No,Sun,Dinner,3,1,1,1,0
2,21.01,3.50,No,Sun,Dinner,3,1,1,1,0
3,23.68,3.31,No,Sun,Dinner,2,1,1,1,0
4,24.59,3.61,No,Sun,Dinner,4,0,1,0,1

In [34]:
pd.get_dummies(df, columns = ["day"], prefix = ["day"]).head()

,total_bill,tip,sex,smoker,time,size,yeni_sex,yeni_day,day_Thur,day_Fri,day_Sat,day_Sun
0,16.99,1.01,Female,No,Dinner,2,0,1,0,0,0,1
1,10.34,1.66,Male,No,Dinner,3,1,1,0,0,0,1
2,21.01,3.50,Male,No,Dinner,3,1,1,0,0,0,1
3,23.68,3.31,Male,No,Dinner,2,1,1,0,0,0,1
4,24.59,3.61,Female,No,Dinner,4,0,1,0,0,0,1

# Bölüm Sonu Değerlendirmesi

Veri Ön İşleme 

Aykırı Gözlem Analizi

Eksik Gözlem Analizi

Değişken Standartlaştırma

Değişken Dönüştürme